@import '../../../styles/variables/variables.scss';

.adminSearch {
    position: absolute;
    height: 4rem;
    width: 40%;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 30%);
    border-radius: 10px;
    background-color: rgba($grey, .1);
    padding-left: 1rem;
	box-shadow: 0 6px 10px 0 rgba(0, 0, 0 , .1);

    &__form {
        display: flex;
        flex-direction: row;
        justify-content: center;

        &__submit {
            cursor: pointer;
            margin-top: .5rem;
            border-radius: 10px;
            height: 3rem;
            width: 5rem;
            background-color: $blue;
            color: $white;
            border: 0;
            font-size: 16px;
        }

        &>* {
            margin-right: .5rem;
        }   
    }
}