$white: #fff;
$pink: #F05454;
$blue: #0d335d;



.backgroundImage {
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 1.5rem;
  cursor: pointer;
}


.fullPage {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}