$white: #fff;
$pink: #F05454;
$blue: #0d335d;
$grey: #bbbbbb;
$green: #16c79a;


.backgroundImage {
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 1.5rem;
  cursor: pointer;
}


.fullPage {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  overflow: hidden;
}

.transitionEffect {
  -webkit-transition: .3s;
  -moz-transition: .3s;
  -o-transition: .3s;
  transition: .3s;
}


.boxShadow {
  -webkit-box-shadow: 2px 0px 8px 0px rgba(34, 60, 80, 0.2);
  box-shadow: 2px 0px 8px 0px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 2px 0px 8px 0px rgba(34, 60, 80, 0.2);
}

%basicInput {
  font-size: 20px;
  width: 4rem;
  background-color: rgba(gray, .1);
  border-radius: 3px;
  padding: .2rem;
}