@font-face {
  font-family: "Poppins";
  font-weight: 500;
  src:  url("../../public/fonts/Roboto/Roboto-Regular.ttf") format('opentype');
  font-display: swap;
}

@font-face {
  font-family: "Poppins";
  font-weight: 700;
  src:  url("../../public/fonts/Roboto/Roboto-Medium.ttf") format('opentype');
  font-display: swap;
}


@font-face {
  font-family: "Poppins";
  font-weight: 800;
  src:  url("../../public/fonts/Roboto/Roboto-Bold.ttf") format('opentype');
  font-display: swap;
}