@import './variables/variables.scss';
.full {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    overflow: hidden;
}


.main {
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &__number {
        font-size: 450px;
        color: $pink;
    }
}




@media only screen and (max-width: 320px) {
    .main {
        &__number {
            font-size: 10px;
        }
    }
}