@import './variables/variables';

.pizzaPage {
  margin-top: 10%;
  display: flex;
  flex-direction: row;
  justify-content: center;

  &__photo {
    max-width: 35rem;
    max-height: 35rem;
  }

  &__info {
    display: flex;
    flex-direction: column;
    margin-left: 7%;

    &__upload {
      cursor: pointer;
      border: 0;
      text-decoration: none;
      background-color: rgba($blue, .8);
      color: $white;
      width: 10rem;
      font-size: 13px;
      padding: .7rem;
      border-radius: 10px;
    }

    &__uploadImage {
      display: flex;
      flex-direction: row;

      &__imageName {
        margin-top: .7rem;
        margin-left: .5rem;
      }
    }



    &>* {
      margin-top: 1.5rem;
    }

    &__top {
      position: relative;
      display: flex;
      flex-direction: row;
      &__name {
        font-size: 30px;
      }
      &__buttons {
        position: absolute;
        right: 10%;
        display: flex;
        flex-direction: row;

        &__button {

          &__cancel {
            cursor: pointer;
            font-size: 28px;
            color: red;
            margin-right: .5rem;
          }

          &__image {
            height: 1.77rem;
            width: 1.5rem;
            background-image: url('../images/pngwing.com-2.png');
          }

          &__imageEdit {
            width: 1.8rem;
            background-image: url('../images/pngfind.com-phone-symbol-png-2755033.png');
          }
        }
      }
    }
    
    &__desc {
      font-size: 15px;
      max-width: 25rem;
      color: rgba(black, .7);
    }

    &__includes {
      display: flex;
      flex-direction: row;

      &>* {
        color: grey;
        display: flex;
        flex-direction: column;
        border-right: 1px solid rgba(grey, .6);
        padding-right: 1rem;
      }
      &>*:not(:first-child) {
        margin-left: 1rem;
      }

      :last-child {
         border: 0;
      }

      &__item { 
        margin-top: .3rem;
        color: rgba(black, .7);
      }
    }

    &__size {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;

      &__sizeTitle {
        font-size: 20px;
      }

      &__sizeItem {
        font-size: 20px;
        margin-left: .5rem;

        &__select {
          font-size: 13px;
          width: 10rem;
        }
      }
    }


    &__orders {
      display: flex;
      flex-direction: row;
    }

    &__typeBox {
      margin-left: -3.5rem;
      margin-top: 1rem;
    }

    &__price {
      font-size: 30px;
      color: rgba(black, .7);
    }
  }
}


.pizzaPageInput {
  font-size: 20px;
  width: 4rem;
  background-color: rgba(gray, .1);
  border-radius: 3px;
  padding: .2rem;
}

@media screen and (max-width: 400px) {
  .pizzaPage {
    flex-direction: column;
  }
}